.app-container{
  padding: 40px;
  margin-top: 5rem;
}
.input{
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}
.table-container {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
 
}

.table-container thead tr   {
  border: 1px solid #ddd;
  padding: 8px;
}
.table-container tbody tr td   {
  border: 1px solid #ddd;
  padding: 8px;
}


#customers tr:nth-child(even){background-color: #f2f2f2;}

.table-container tr:hover {background-color: #ddd;} 

.table-container thead tr th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
  text-align: center;
}
